header {
    display: grid;
    grid-template-columns: 150px auto;
    background-color: black;
}

nav a {
    text-align: center;
    color: white;
    text-decoration: none;
    font-family: Lobster Two, Helvetica, sans-serif;
    padding: 35px;
    font-size: x-large;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
}



nav a:hover {
    background-color: #c08081;
    color: white;
    border-radius: 50%;
}

.button-link {
    border-radius: 12px;
    transition-duration: 0.4s;
    font-size: 24px;
    display: block;
    margin: 0 auto;
}

.button:hover {
    color: #ff0000;
    background-color: white;
  }

body{
    background-color: #c08081;
}

#hero-box{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#hero-box img {
    width: 100%;
    grid-column: 1/4;
    grid-row: 1/4;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("photographer.jpg");

}

#hero-box h1 {
    grid-column: 3/4;
    grid-row: 1/2;
    align-self: self-end;
}

#hero-box p {
    grid-column: 3/4;
    grid-row: 2/3;
    align-self: self-start;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
#braids-card {
    grid-column: 1/2;
}

#crochets-card {
    grid-column: 2/3;
}

#cornrows-card {
    grid-column: 3/4;
}

#review-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 25px;
}

#review-title h2 {
    text-align: center;
}
