header {
    display: grid;
    grid-template-columns: 150px auto;
    background-color: black;
}

nav a {
    text-align: center;
    color: white;
    text-decoration: none;
    font-family: Lobster Two, Helvetica, sans-serif;
    padding: 35px;
    font-size: x-large;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
   
}

nav a:hover {
    background-color: #ff0000;
    color: white;
    border-radius: 50%;
}

#hero-box{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#hero-box img {
    width: 100%;
    grid-column: 1/4;
    grid-row: 1/4;
}

#hero-box h1 {
    grid-column: 3/4;
    grid-row: 1/2;
    align-self: self-end;
}

#hero-box p {
    grid-column: 3/4;
    grid-row: 2/3;
    align-self: self-start;
}